# eclipse files
/.project
/.factorypath
/.settings/

# modules
/**/target/
/.flattened-pom.xml
/**/.flattened-pom.xml

# eclipse files (modules)
/**/.classpath
/**/.factorypath
/**/.project
/**/.settings/
